#edicion,#edicionFormas,#paginaTerminada{
	width:65%;
	height:65%;
}
#logoTec{
	width:250px;
	height:200px;
}
#modelo{
	list-style-type: none;
}
#social{
	width:50%;
	height:55%;
}
#webpage{
	height:65%;
	width:60%
}